@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Passion+One|Gloria+Hallelujah|Gothic+A1');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
메뉴: "Passion One"
영문 손글씨: "Gloria Hallelujah"
제목: "Black Han Sans"
한글 본문: "Gothic A1"
*/

a, img {text-decoration: none; color:white;}

img {font-size: 0; vertical-align: bottom;}

body {min-width: 1200px; font-size: 15px; font-family: "Gothic A1", sans-serif; color: #d2d2d2;
        line-height: 25px; font-weight: 200; background-color: #000; overflow-x: hidden;}
/*-----------------------------------------------*/

header {background-color: #000; width: 100%; min-width: 1200px;}

/*---header-contents---*/
#fixed {position: fixed; top: 0; width: 100%; height: 160px; width: 100%; min-width: 1100px; background-color: #000; z-index: 1000;}

/*--logo--*/
#title-logo {display: block; float: left; height: 100px; width: auto; padding: 30px 39px;}
#title-logo img {height: 100%;}
					
/*--menu--*/
#menu {float: right; text-align: center; transition: all 500ms}
#menu > li {display: inline-block; vertical-align: top; width: 200px;}
#menu .gnb {display: block; width: 200px; height: 160px; line-height: 160px; font-family: "Passion One", sans-serif;
			text-transform: uppercase; font-size: 23px; box-sizing: border-box; transition: all 300ms;}



#menu .movie {color: #ebb010;}
#menu .music {color: #b60b0b;}
#menu .lines {color: #1a95ba;}

#menu li ul {background-color: rgba(0, 0, 0, 0.0); height: 0; overflow: hidden; margin-top: 20px;}

#menu li:first-child ul a {background-color: #ebb010;}
#menu li:nth-child(2) ul a {background-color: #b60b0b;}
#menu li:last-child ul a {background-color: #1a95ba;}

#menu > li.selected ul li {opacity: 0;}
#menu > li.selected ul li.ani {animation: menu 300ms ease-in-out; opacity: 1}

#menu > li:first-child:hover > a {background-color:#ebb010; color: #000;}
#menu > li:nth-child(2):hover > a {background-color:#b60b0b; color: #000;}
#menu > li:last-child:hover > a {background-color:#1a95ba; color: #000;}

@keyframes menu
{
    0%
    {
        opacity:0.0;
        transform: rotateX(-100deg);
    }
    100%
    {
        opacity:1.0;
        transform: rotateX(0);
    }
}




#menu li:hover ul {height: auto;}
#menu li ul li a {display: block; font-size: 18px; line-height: 20px; padding: 15px 0; font-family: "Black Han Sans", sans-serif;}

#menu li ul li a:hover {background-color: #000;}
#menu li:first-child ul li a:hover {color: #ebb010;}
#menu li:nth-child(2) ul li a:hover {color: #b60b0b;}
#menu li:last-child ul li a:hover {color: #1a95ba;}

#menu::after {content: ""; display: block; position: relative; clear: both;}

/*--header-image--*/
#header-image-gallery {position: relative; left: 0; padding-top: 160px; width: 100%; height: auto; min-width: 1200px; cursor: pointer;}

#header-image-gallery:before {content: ""; display: inline-block; position: absolute; width: 100%; height: 100%; margin-top: -160px;
        font-size: 0; background-color: #000; opacity: 0.5; transition: height 250ms ease-in-out; z-index: 500;}

#header-image-gallery:hover:before {height: 159px;}

#header-image-gallery li {display: inline-block; opacity: 0; transition: opacity 800ms;}
#header-image-gallery li+li {position: absolute; top: 160px; left: 0;}
#header-image-gallery li.selected {opacity: 1;}

#header-image-gallery li img {width: 100%; display: inline-block;}

/*---------------------section---------------------*/
section {padding-top: 160px;}

article {position: relative; width: 100%; min-width: 1200px; padding-top: 160px;}

article.box {width: 1200px; margin: 0 auto;}

section h3 {margin-right: 30px; text-align: right; font-family: "Passion One", sans-serif; font-size: 40px; line-height: 50px; text-transform: uppercase;}

#movie h3 {color: #ebb010;}
#music h3 {color: #b60b0b;}
#lines h3 {color: #1a95ba;}

/*----movie*/
#movie h4 {width: 30%; text-align: center; font-family: "Passion One", sans-serif;
            font-size: 28px; line-height: 40px; color: #000; background-color: #ebb010;}

/*plot-summary*/
#plot-summary-container {position: relative; margin-top: 60px; transform: translateX(-420px); transition: all 300ms;}
#plot-summary-container.open-poster {transform: translateX(0); animation: openposter 1s ease-in-out;}

@keyframes openposter
{
	0% {transform: translateX(-360px);}
	80% {transform: translateX(50px);}
	100% {transform: translateX(0);}
}

#poster-box {display: inline-block; vertical-align: top; transition: all 300ms;}
#plot-summary-container.open-poster #poster-box {cursor: default;}

#poster-box ul {width: 420px; display: inline-block;}

#poster-box li {display: inline-block; width: 140px; transform: rotateY(90deg); transition: all 500ms;}
#poster-box li.poster-ani {transform: rotateY(0); animation: poster 500ms ease-in-out;}

@keyframes poster
{
	0% {transform: rotateY(90deg); opacity: 0.5;}
	80% {transform: rotateY(-10deg); opacity: 1;}
	100% {transform: rotateY(0deg);}
}


#poster-box img {width: 100%;}
#poster-box h5 {display: inline-block; height: 402px; width: 40px; position: relative; vertical-align: top;
				text-align: center; cursor: pointer; color: #373737; transition: all 500ms;}

#poster-box h5 div {transform: rotateZ(90deg); position: relative; width: auto; height: auto;}
#poster-box h5 p {font-family: "Black Han Sans", sans-serif; font-size: 25px; width: 402px; height: auto;}
#poster-box h5 p::after {content: " ▲";}

#plot-summary-container.open-poster #poster-box h5 p::after {content: " ▼";}

#plot-summary .text-box {margin-left: 50px; display: inline-block; vertical-align: bottom;}
#plot-summary .text-box p {text-align: justify; word-break: keep-all;}
#plot-summary .text-box h5 {font-family: "Black Han Sans", sans-serif; font-size: 25px; color: #ebb010; margin-bottom: 20px;}

#plot-summary .text-box ul {margin-bottom: 20px;font-size: 17px; line-height: 28px; color: #fff;}
#plot-summary .text-box span {margin-right: 10px; color: #ebb010;}

/*storyline*/
#storyline h4 {margin-left: 70%;}

#story-view-box {width: 968px; height: 370px; margin: 70px auto 0; overflow: hidden;}
#story-container {width: 800%;}
.story-box {display: inline-block; width: 968px; height: 370px; transition: opacity 500ms;}

.story-box .text-box {position: relative; top: -146px; left: 460px; display: inline-block;
                    width: 500px; height: 250px; word-break: keep-all;
                        background-color: #232323; overflow: hidden; box-shadow: 8px 8px 0 #ebb010;}

.story-box .text-box h5 {margin: 20px 0 0 20px; font-family: "Black Han Sans", sans-serif; font-size: 25px; color: #ebb010;}
.story-box .text-box .text-pos {display: inline-block; position: absolute; top: 50%; width: 460px;
                                margin: 18px 0 0 20px; transform: translateY(-50%);}
.story-box .text-box p {width: 460px; text-align: justify;}
.story-box .text-box p+p {margin-top: 5px;}

#story-btn {width: 100px; position: absolute; left: 50%; margin-left: 505px; margin-top: -370px; font-family: "Black Han Sans", sans-serif; font-size: 20px;}
#story-btn li {position: relative; width: 50px; height: 50px; text-align: center;}
#story-btn li a {display: block; width: 100%; height: 100%; color: #363636; transition: color 300ms;}
#story-btn li a:hover {color: #ebb010;}

#story-btn li.selected a {color: #ebb010; cursor: default;}


/*character*/
#character h4 {width: 100%;}

#character-container {width: 100%; height: 700px;}
#character-container > div {display: inline-block; position: relative; width: 20%; height: 100%;
                            vertical-align: top;}

#hedwig {background-image: url(../img/hedwig.jpg); background-position: center; background-size: cover;}
#tommy {background-image: url(../img/tommy.jpg); background-position: left; background-size: cover;}
#yitzhak {background-image: url(../img/yitzhak.jpg); background-position: center; background-size: cover;}
#luther {background-image: url(../img/luther.jpg); background-position: right; background-size: cover;}
#mom {background-image: url(../img/mom.jpg); background-position: right; background-size: cover;}

.character {overflow: hidden; transition: width 400ms; cursor: pointer;}

.character .name {width: 100%; height: 100%; text-align: center;
                    position: relative; top: 50%; transform: translateY(-50%);
                     background-color: rgba(0, 0, 0, 0.7); color: #fff; transition: all 300ms;}

.character .name p {position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); width: 180px;
                    font-family: "Black Han Sans", sans-serif; font-size: 28px; line-height: 35px; font-weight: 100; color: #ebb010; transition: all 300ms;}

.character:hover .name {background-color: rgba(0,0, 0, 0)}
.character:hover .name p {color: #fff;}


.character .close {display: none; position: absolute; top: 10px; right: 10px; z-index: 100; width: 60px; height: 60px;}

.character .close span {overflow: hidden; display: block; position: relative; width: 45px; height: 45px;}

.character .close span::before, .character .close span::after {content: ""; display: block; position: absolute; top: 50%; left: 50%;  width: 200%; height: 3px; background-color: #232323;}

.character .close span::before {transform: translateX(-50%) translateY(-50%) rotate(45deg);}

.character .close span::after {transform: translateX(-50%) translateY(-50%) rotate(135deg);}

#character-container .selected {cursor: default;}

#character-container .selected .close {display: block; animation: character 500ms ease-in-out;}
#character-container .selected .name {display: none;}

.information {display: none; background-color: #232323; padding: 25px;}

#yitzhak .information, #tommy .information, #hedwig .information {position: absolute; bottom: 30px; right: 30px;  box-shadow: 10px 10px 0 #ebb010;}
#luther .information, #mom .information {position: absolute; bottom: 30px; left: 30px; box-shadow: -10px 10px 0 #ebb010;}

.information h5 {margin-bottom: 30px; font-family: "Black Han Sans", sans-serif; font-size: 30px; color: #ebb010;}
.actor {font-size: 18px; font-weight: 500; color: #fff;}
.actor span {margin-left: 10px; font-size: 14px;}
.info-box {width: 500px; margin-top: 15px; word-break: keep-all; text-align: justify;}
#character-container .selected .information {display: block; animation: character 500ms ease-in-out;}

@keyframes character
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
/*music*/
#music article {padding-top: 0;}

#music .music::after {content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: yellow; opacity: 0;}

#music article::before {content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 160px; background-color: #000; z-index: 300;}

#music .music {width: 100%; height: 900px;}
#music .music .video, #music .music .video iframe {width: 100%; height: 100%;}

/*#music .copy {font-family: "Gloria Hallelujah", serif; color: #b60b0b; position: absolute; top: 280px; left: 20px; transform: rotate(-25deg); z-index: 300;
                font-size: 50px; line-height: 80px;}
#music .copy {font-family: "Gloria Hallelujah", serif; color: #000; position: absolute; top: 280px; left: 20px; transform: rotate(-25deg); z-index: 300;
                font-size: 50px; line-height: 80px; background-color: #b60b0b; padding: 0 10px;}*/

#music .copy {font-family: "Gloria Hallelujah", serif; position: absolute; top: 280px; left: 20px;
            transform: rotate(-8deg); z-index: 300; color: rgba(255,255,255,0.4); 
                font-size: 50px; line-height: 80px; /*background: linear-gradient(to right,#000,transparent);*/
                background-color: #b60b0b; padding: 0 30px; height: 80px;}
#music .copy span {display: block; transform: rotate(8deg); margin-top: -40px;}

#hedwigs-lament-exquisite-corpse .copy span, #midnight-radio .copy span { margin-top: 0px;}


#music .text-box {position: absolute; bottom: 45px; right: 30px; width: 500px; height: 630px;
                    background-color: rgba(0,0,0,0.8); z-index: 400; text-align: center;}
/*가사*/
.lyrics-box {position: absolute; bottom: 45px; right: 530px; width: 0; height: 630px; overflow: hidden; transition: all 300ms;
                    background-color: rgba(0,0,0,0.8); z-index: 250; text-align: center; box-sizing: border-box; z-index: 400;}

.lyrics-open .lyrics-box {display: block; position: absolute; bottom: 45px; right: 530px; width: 500px;}

.lyrics-box .lyrics-container {width: 500px; height: 530px; margin: 25px 0 0; overflow-x: hidden; overflow-y: scroll; -ms-overflow-style: none;}
.lyrics-box .lyrics-container::-webkit-scrollbar {display: none;}

.lyrics-box em {font-style: italic; color: #888;}

.lyrics:last-child {margin-bottom: 265px;}
.lyrics+.lyrics {margin-top: 20px;}
.en {overflow: hidden; font-size: 17px; color: #fff; transition: all 200ms;}
.ko {margin-top: 8px; overflow: hidden; transition: all 200ms;}

.lyrics-box ul li.language-all {background-color: #b60b0b; color: #000; cursor: default;}

.ko-only ul li.language-ko {background-color: #b60b0b; color: #000; cursor: default;}
.en-only li.language-en {background-color: #b60b0b; color: #000; cursor: default;}

.ko-only > ul > li:last-child, .en-only > ul > li:last-child {color: #b60b0b; background-color: transparent; cursor: pointer;}

.ko-only .ko {margin-top: 0; color: #fff; font-size: 16px;}
.ko-only .en {height: 0;}

.en-only .ko {margin-top: 0; height: 0;}

.lyrics-box ul {width: 500px;  margin-top: 22px;}
.lyrics-box ul li {display: inline-block; padding: 5px 15px; font-size: 18px; font-weight: 600; color: #b60b0b; cursor: pointer; transition: all 300ms;}
.lyrics-box ul li:hover {background-color: #b60b0b; color: #000;}
.lyrics-box ul li+li {margin-left: 10px;}


#music .text-box h4 {font-family: "Black Han Sans", sans-serif; font-size: 30px; color: #b60b0b; margin-bottom: 30px; line-height: 40px;}
#music .text-box h4 span {font-family: "Gothic A1", sans-serif; font-size: 16px; font-weight: 600; color: #800808;}
#music .text-box h4 span:before, #music .text-box h4 span:after {content: "-"; margin: 0 3px;}

.music-info {width: 380px; padding: 0 60px; line-height: 35px; word-break: keep-all; margin-bottom: 50px;}

#music .text-box a, #music .play {display: inline-block; width: 120px;  padding: 5px 0; color: #b60b0b; font-weight: 700; font-size: 20px; transition: all 300ms; cursor: pointer;}
#music .text-box a:hover, #music .play:hover {background-color: #b60b0b; color: #000;}
#music .text-box > div {position: relative; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);}
#music .volume {display: inline-block; width: 120px; padding: 5px 0; color: #5c4e4e; font-weight: 700; font-size: 20px; transition: all 300ms; cursor: pointer; transition: color 300ms;}




/*lines*/
#lines article {padding-top: 100px; text-align: center;}

#lines h4 {margin: 0 20px; font-family: "Black Han Sans", sans-serif; font-size: 45px; line-height: 70px; color: #1a95ba;}
#lines .subtitle {margin: 0 20px; font-family: "Gloria Hallelujah", serif; font-size: 30px; line-height: 50px; color: #fff;}

.line-deco::after, .line-deco::before {content: ""; display: block; width: 100%; height: 40px; background-image: url("../img/linesbackground.png");
                    background-position: center; background-size: cover; margin: 20px 0;}
#lines ul {width: 100%; background-color: #232323; padding: 20px 0; text-align: center;}

#lines li {display: inline-block; width: 20%; height: 220px; margin: 0 2%;
        vertical-align: top; background-position: center; background-size: cover;}

#lines li > div {position: relative; width: 100%; height: 100%; background-color: rgba(0,0,0,0.8); transition: all 500ms;}
#lines li > div > div {position: absolute; top: 50%; left: 50%; width: 100%; transform: translateY(-50%) translateX(-50%); text-align: left;}
#lines li > div > div p+p {margin-top: 5px;}

#lines li p {margin-left: 20px;}
#lines li div div p+p {margin-top: 15px;}

#lines li strong {margin-bottom: 10px; color: #fff; font-weight: 600;}
#lines li p span {color: #1a95ba;}

#line1 li:first-child {background-image: url("../img/lines011.jpg");}
#line1 li:nth-child(2) {background-image: url("../img/lines012.jpg");}
#line1 li:nth-child(3) {background-image: url("../img/lines013.jpg");}
#line1 li:last-child {background-image: url("../img/lines014.jpg");}

#line2 li:first-child {background-image: url("../img/lines021.jpg");}
#line2 li:nth-child(2) {background-image: url("../img/lines022.jpg");}
#line2 li:nth-child(3) {background-image: url("../img/lines023.jpg");}
#line2 li:last-child {background-image: url("../img/lines024.jpg");}

#line3 li:first-child {background-image: url("../img/lines031.jpg");}
#line3 li:nth-child(2) {background-image: url("../img/lines032.jpg");}
#line3 li:nth-child(3) {background-image: url("../img/lines033.jpg");}
#line3 li:last-child {background-image: url("../img/lines034.jpg");}

/*버튼*/
#lines a {display: inline-block; width: 0; height: 0; margin: 10px 0;
        border-left: 35px solid #d2d2d2; border-top: 20px solid transparent; border-bottom: 20px solid transparent;
        font-size: 0; color: transparent; transition: all 300ms;}
#lines a:hover {border-left-color: #1a95ba;}

#lines li:hover .line-text {display: none;}
#lines .play li:hover .line-text {display: block;}
#lines .play a {border-left-color: #1a95ba; cursor: default;}
#lines .line-ani {animation: lines 600ms ease-in-out; opacity: 0;}

@keyframes lines
{
    0%{opacity: 1;}
    100%{opacity: 0;}
}
#lines .comment {margin: 5px 0; color: transparent; transition: color 300ms; cursor: default;}
#lines .play .comment {color: #1a95ba;}

/*footer*/
footer {padding: 50px 0; margin-top: 250px; background-color: #000; text-align: center;}

footer p:first-child {font-family: "Passion One", sans-serif; font-size: 60px; 
						color: #ebb010; text-shadow: 10px 10px 0 #f9126a; transform: rotateZ(-3deg);}
						

footer div p:last-child {width: 300px; margin: 50px auto 0; padding: 10px 0;font-weight: 700; 
						color: #ebb010; background-color: #1a95ba;  
 						transform: rotateZ(1deg); box-shadow: 5px 5px 0 #ebb010;}



